<a href="https://colab.research.google.com/github/emonzel/DSM_AntigenMicroarray/blob/master/ni_2_python_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Operations

- Create a list of 5 integers.
- Print the list.
- Print the sum of all elements in the list.
- Print the largest and smallest elements in the list.
- Append a new element to the list and print the updated list.

In [26]:
# EX1:
m = [2,4,6,7,8]
print(m)
print(sum(m))
print(max(m))
print(min(m))

SyntaxError: invalid syntax (<ipython-input-26-7475a372ae75>, line 7)

- Create a List of 10 random integer values
- Create a second List and store the values which are above average of the first List
-  From the second list: print all odd values

In [32]:
# EX2:
import random
from statistics
mylist = [random.randint(1,100) for _ in range(10)]

mean_value = sum(mylist) / len(mylist)
###
second_list = [x for x in mylist if x > 30]

print(second_list)

SyntaxError: invalid syntax (<ipython-input-32-46f4623fe41c>, line 3)

Givent the follwoing string containing a DNA sequence:

In [39]:
# EX3:

text = "a,G,g,T,T,T,g,a,A,G,c,g,g,t,C,a,g,T,A,t,g,a,a,c,T,g,T"

# 1. Make sure all nucleotites are in uper case
up_text = text.upper()
print(up_text)

# 2. split the nucleotites into individual character by "," and save them into a second list
up_text2 = up_text.split(",")
print(up_text2)

# Join all elements into a single string and print

# 3. Fill in the missing part:
dna_sequence = ''.join(up_text2)

print("DNA Sequence:", dna_sequence)

# 4. Count the occurence of "GT" in the new string and print the result
print(dna_sequence.count("GT"))

A,G,G,T,T,T,G,A,A,G,C,G,G,T,C,A,G,T,A,T,G,A,A,C,T,G,T
['A', 'G', 'G', 'T', 'T', 'T', 'G', 'A', 'A', 'G', 'C', 'G', 'G', 'T', 'C', 'A', 'G', 'T', 'A', 'T', 'G', 'A', 'A', 'C', 'T', 'G', 'T']
DNA Sequence: AGGTTTGAAGCGGTCAGTATGAACTGT
4

DataFrames

In [40]:
# Creating a DataFrame
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

# Creating a dataframe from a dictionary
df = pd.DataFrame(data)

In [56]:
# EX4:
# Print the first 2 rows
print(df[0:2])

# check the datatypes
print(df.dtypes)


# use the describe function to get a statistical overview
df.describe()


# add the salary as column to the table:
# [70000, 80000, 50000, 60000]
df['Salary'] = [70000, 80000, 50000, 60000]

print(df)
df.describe()

    Name  Age         City  Salary
0  Alice   24     New York   70000
1    Bob   27  Los Angeles   80000
Name      object
Age        int64
City      object
Salary     int64
dtype: object
      Name  Age         City  Salary
0    Alice   24     New York   70000
1      Bob   27  Los Angeles   80000
2  Charlie   22      Chicago   50000
3    David   32      Houston   60000

             Age        Salary
count   4.000000      4.000000
mean   26.250000  65000.000000
std     4.349329  12909.944487
min    22.000000  50000.000000
25%    23.500000  57500.000000
50%    25.500000  65000.000000
75%    28.250000  72500.000000
max    32.000000  80000.000000